:root {
    --main: #19e65e;
    --secoend: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}


*li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: none;
}

/* ===============================
   LAYOUT
================================ */

.container {
    width: 100%;
}


.menu {
    display: flex;
    gap: 1rem;
}
img{
    max-width: 100%;
}
.grid {
    display: grid;
    gap: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.page .container {
    display: flex;
}

.side {
    background: var(--secoend);
    height: 100%;
    padding: 15px;
    min-height: 100vh;
}

@media (max-width: 767px) {
    .side {
        padding: 15px 0;
    }

    .side span:first-child {
        flex-direction: column;
    }

    .side span:first-child h2 {
        font-size: 14px;
    }

    .side ul li a span {
        display: none;
    }

    .side ul li {
        font-weight: normal;
        padding: 0;
        font-size: 12px;
        width: 50%;
        margin: 0 auto;
    }

    .side .new {
        font-weight: normal;
        padding: 5px;
        font-size: 12px;
        width: 50%;
        margin: 0 auto;
    }

    .side .new p {
        display: none;
    }
}

.side ul li {
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
    color: #ccc;
    font-weight: 700;
    border-radius: 5px;
}

.side ul li:hover {
    background-color: #02fa552f;
    color: var(--main);
}

.side ul .active {
    background-color: #02fa552f;
    color: var(--main);
}

.side ul li i {
    margin-right: 5px;
    font-size: 20px;
}

.side span:first-child {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    color: #ccc;
}

.side span:first-child .icon {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    color: var(--secoend);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--main);
}

.side .new {
    background-color: var(--main);
    font-weight: 600;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.side .new:hover {
    background-color: #19e65d91;
}

.content {
    background-color: #eef1efa9;
    width: 100%;
}

.content nav {
    background-color: white;
    width: 100%;
    padding: 10px 15px;
}

.content nav .search {
    background-color: #eee;
    width: 210px;
    padding: 5px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .content nav .search {
        width: 150px;
    }
}

nav .search i {
    color: grey;
}

.content nav .search input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}
 nav .notf .i{
    margin-right: 10px;
    color: #6b6868;
    position: relative;
}

 nav .notf .i::before{
   position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--main);
    border-radius: 50%;
    right: -2px;
    top: -2px;
}
.content nav .holder{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.content nav img{
    border-radius: 50%;
}
.content > h2{
    margin-left: 15px;
    margin-top: 10px;
}
.content > p{
    margin-left: 15px;
    color: gray;
}
@media (min-width: 350px) {
    .content > p{
      font-size: 13px;
}
}

.wrapper{
    padding: 15px;
    width: 100%;
}

.wrapper .tasks{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.wrapper .tasks .boxs{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;

}
@media (max-width: 619px) and (min-width: 350px){
    .wrapper .tasks{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media (max-width: 519px){
    .wrapper .tasks .boxs{
    flex-direction: column; 
    text-align: center;  
}
}
.tasks .boxs p{
    font-size: 13px;
    color: gray;
}
.tasks .boxs h3{
    font-size: 30px;
    font-weight: 900;
}
.tasks .boxs span{
    display: block;
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    height: 20px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19e65d33;
    color: var(--main);
}
.tasks .boxs .red{
    background-color: #e619194b;
    color: #e61919;
}
